<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <h1>About Us</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12" ng-repeat="team in teamMembers" >
      <img class="img-responsive" src="{{team.photo}}" alt="">
      <h2>{{team.name}}</h2>
      <p>{{team.position}}</p>
      <ul>
        <li>
          <a href="{{team.facebookUrl}}" target="_blank" rel="nofollow">
            <span class="fa-stack fa-lg">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x"></i>
            </span>
          </a>
        </li>
        <li>
          <a href="{{team.twitterUrl}}" target="_blank" rel="nofollow">
            <span class="fa-stack fa-lg">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x"></i>
            </span>
          </a>
        </li>
        <li>
          <a href="{{team.linkedinUrl}}" target="_blank" rel="nofollow">
            <span class="fa-stack fa-lg">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-linkedin fa-stack-1x"></i>
            </span>
          </a>
        </li>
        <li>
          <a href="{{team.instagramUrl}}" target="_blank" rel="nofollow">
            <span class="fa-stack fa-lg">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-instagram fa-stack-1x"></i>
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<button type="button" class="btn btn-default" ng-click="open()">Open me!</button>
